@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&family=Poppins:wght@500;600&display=swap');

:root {
    --dark-set-primary: #001538;
    --dark-set-secondary: #d9e8ff;
    --dark-set-highlight: #f6edde;

    --light-set-primary: #0075ff;
    --light-set-secondary: #eaf2ff;
    --light-set-highlight: #fffbf1;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'Manrope', sans-serif;
}

body {
    font-family: var(--body-font);
    font-weight: 300;
    text-shadow: unset !important;
}


a:link,
a:visited {
    color: var(--light-set-primary);
}

a:hover {
    color: var(--dark-set-primary);
}

.menu-links>li:hover,
.menu-links>li:active {
    background: var(--light-set-primary) !important;
    color: #fff !important;

}

.menu-links>li>span:hover,
.menu-links>li>span:active {
    color: #fff !important;

}

.title {
    font-size: 110%;
    line-height: 100%
}

h1,
h2,
h3 {
    color: #001538;
    font-family: var(--title-font);
    /*text-transform: uppercase;*/
}

.header {
    box-shadow: unset;
    border-bottom: 1px solid #eee;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

.font-xxl {
    line-height: 120%;
}

.font-xxxl {
    font-size: 350%;
    line-height: 120%;
}

.box-title {
    padding: 3rem 4rem;
}

.logo>a>img {
    margin-top: 6px;
    width: 160px;
}

.main {

    background-color: #fff;
}

#content-page {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.bg-default {
    background-color: var(--dark-set-primary);

}


.btn-primary {
    background-color: var(--light-set-primary) !important;
    border-color: var(--light-set-primary) !important;
    border: none;
    padding: 10px 30px;
    color: #fff !important;
    border-radius: 1.2rem;
    border-top-right-radius: 0.3rem;

}

.vignette a {
    color: #7A7A7A;
}

.btn-xl {
    text-transform: uppercase;
    font-size: 120%;
}

.footer section.mappage {
    background-color: var(--dark-set-primary);
    color: #fff !important;
    text-shadow: unset;
}

.footer section.network {
    background-color: var(--dark-set-highlight);
}

.footer section.press {
    background-color: var(--dark-set-highlight);
}

.footer section a {
    color: #fff;
}

.matter {
    color: var(--light-set-primary) !important;
}

.box {
    border: 1px #eee solid;
    box-shadow: unset;
}

.footer section h3 {
    color: var(--light-set-primary);
}

.number-highlight {
    color: var(--dark-set-primary);
}

.menu-links {
    text-transform: uppercase;
}

.owl-theme .owl-controls .owl-page span {
    background: var(--light-set-primary);
}

.highlight {
    color: var(--light-set-primary);
}

#content-page>section:nth-child(2)>h1 {
    display: none;
}

#hero-container {
    width: 100%;
    padding: 40px;
    margin: 80px 0;
}

#hero {
    text-align: center;
    border: 40px solid;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin: auto;
    border-image-source: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="m15,.5v3.99c0,.28.23.5.5.5h3.99c.28,0,.5.23.5.5v3.99c0,.28.23.5.5.5h3.99c.28,0,.5-.23.5-.5V2.5c0-1.38-1.12-2.5-2.5-2.5h-6.99c-.28,0-.5.23-.5.5Z" fill="%230075ff"/><path d="m10,24.5v-3.99c0-.28-.23-.5-.5-.5h-3.99c-.28,0-.5-.23-.5-.5v-3.99c0-.28-.23-.5-.5-.5H.5c-.28,0-.5.23-.5.5v6.99c0,1.38,1.12,2.5,2.5,2.5h6.99c.28,0,.5-.23.5-.5Z" fill="%230075ff"/></svg>');
    border-image-slice: 40%;
    border-image-width: 1;
    border-image-outset: 1;

}

#carousel-home {
    display: none !important;
}

.vignette {
    border-radius: 18px;
}

.box-head img {
    border-top-left-radius: 18px;

}

.number-highlight {
    font-family: var(--title-font);
    font-weight: 600;
    /*color: var(--light-set-primary);*/
}

.arrow-frame-diagonal-bottom {
    text-align: center;
    border: 20px solid;
    border-image-source: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path d="m15,.5v3.99c0,.28.23.5.5.5h3.99c.28,0,.5.23.5.5v3.99c0,.28.23.5.5.5h3.99c.28,0,.5-.23.5-.5V2.5c0-1.38-1.12-2.5-2.5-2.5h-6.99c-.28,0-.5.23-.5.5Z" fill="%230075ff"/><path d="m10,24.5v-3.99c0-.28-.23-.5-.5-.5h-3.99c-.28,0-.5-.23-.5-.5v-3.99c0-.28-.23-.5-.5-.5H.5c-.28,0-.5.23-.5.5v6.99c0,1.38,1.12,2.5,2.5,2.5h6.99c.28,0,.5-.23.5-.5Z" fill="%230075ff"/></svg>');
    border-image-slice: 40%;
}